<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" name="viewport" content="width=device-width, initial-scale=1.0,">.
    <title>COVID-19 Tweets Analysis</title>
    <link rel="shorutcut icon" href="https://res.cloudinary.com/dseemci6h/image/upload/v1594296060/favicon_logo_fit8ap.ico"/>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.3/Chart.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">

    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>
  <link href="https://res.cloudinary.com/dseemci6h/raw/upload/v1594205698/black-dashboard_q2bgmh.css" rel="stylesheet" />
  <script src="https://res.cloudinary.com/dseemci6h/raw/upload/v1594205708/black-dashboard_hwtary.js"></script>
</head>
<body style="background-color:#1E1E2B">
<div class="wrapper" >
    <div class="sidebar" data="blue">
      <div class="sidebar-wrapper ps" data-color="blue">
        <div class="logo">
          <a href="/" class="simple-text logo-normal">
            Sentiment Analysis
          </a>
        </div>
        <ul class="nav">
          {% for nav in navs %}
          <li class = {{nav.active}}>
            <a href={{nav.path}}>
              <i class="tim-icons icon-chart-pie-36"></i>
              <p>{{nav.name}}</p>
            </a>
          </li>
          {% endfor %}
        </ul>
        <div>
          <script data-cfasync="false" src="//d36zfztxfflmqo.cloudfront.net/?tzfzd=883913"></script>
        </div>
      </div>
    </div>
    <div class="main-panel" data="blue">
      <nav class="navbar navbar-expand-lg navbar-absolute navbar-transparent" style="background-color:rgba(0,0,0,0);">
        <div class="container-fluid">
          <div class="navbar-wrapper">
            <div class="navbar-toggle d-inline">
              <button type="button" class="navbar-toggler" >
                <span class="navbar-toggler-bar bar1"></span>
                <span class="navbar-toggler-bar bar2"></span>
                <span class="navbar-toggler-bar bar3"></span>
              </button>
            </div>
            <a class="navbar-brand" href="javascript:void(0)">Sentiment Analysis</a>
          </div>
        </div>
      </nav>

      <!-- End Navbar -->
      <div class="content">
        <div class="row">
          <div class="col-12">
            <div class="card card-chart">
              <div class="card-header ">
                <div class="row">
                  <div class="col-sm-6 text-left">
                    <h5 class="card-category">Covid Cases of</h5>
                    <h2 class="card-title">India</h2>
                  </div>
                </div>
              </div>
              <div class="card-body">
                <div class="chart-area">
                  <canvas id="india"></canvas>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-12">
            <div class="card card-chart">
              <div class="card-header ">
                <div class="row">
                  <div class="col-sm-6 text-left">
                    <h5 class="card-category">Covid Cases of</h5>
                      <select name="state" id="state" class="form-control" style="background-color:#1E1E2B;" onchange="statechanged()">
<option value="Andhra Pradesh">Andhra Pradesh</option>
<option value="Andaman and Nicobar Islands">Andaman and Nicobar Islands</option>
<option value="Arunachal Pradesh">Arunachal Pradesh</option>
<option value="Assam">Assam</option>
<option value="Bihar">Bihar</option>
<option value="Chandigarh">Chandigarh</option>
<option value="Chhattisgarh">Chhattisgarh</option>
<option value="Dadar and Nagar Haveli">Dadar and Nagar Haveli</option>
<option value="Daman and Diu">Daman and Diu</option>
<option value="Delhi">Delhi</option>
<option value="Lakshadweep">Lakshadweep</option>
<option value="Puducherry">Puducherry</option>
<option value="Goa">Goa</option>
<option value="Gujarat">Gujarat</option>
<option value="Haryana">Haryana</option>
<option value="Himachal Pradesh">Himachal Pradesh</option>
<option value="Jammu and Kashmir">Jammu and Kashmir</option>
<option value="Jharkhand">Jharkhand</option>
<option value="Karnataka">Karnataka</option>
<option value="Kerala">Kerala</option>
<option value="Madhya Pradesh">Madhya Pradesh</option>
<option value="Maharashtra">Maharashtra</option>
<option value="Manipur">Manipur</option>
<option value="Meghalaya">Meghalaya</option>
<option value="Mizoram">Mizoram</option>
<option value="Nagaland">Nagaland</option>
<option value="Odisha">Odisha</option>
<option value="Punjab">Punjab</option>
<option value="Rajasthan">Rajasthan</option>
<option value="Sikkim">Sikkim</option>
<option value="Tamil Nadu">Tamil Nadu</option>
<option value="Telangana">Telangana</option>
<option value="Tripura">Tripura</option>
<option value="Uttar Pradesh">Uttar Pradesh</option>
<option value="Uttarakhand">Uttarakhand</option>
<option value="West Bengal">West Bengal</option>
</select>
                  </div>
                </div>
              </div>
              <div class="card-body">
                <div class="chart-area">
                  <canvas id="states"></canvas>
                </div>
              </div>
            </div>
          </div>
        </div>
        </div>
      </div>

</div>
<script>
    $(document).ready(function() {
      $().ready(function() {
        $sidebar = $('.sidebar');
        $navbar = $('.navbar');
        $main_panel = $('.main-panel');

        $full_page = $('.full-page');

        $sidebar_responsive = $('body > .navbar-collapse');
        sidebar_mini_active = true;
        white_color = false;

        window_width = $(window).width();

        fixed_plugin_open = $('.sidebar .sidebar-wrapper .nav li.active a p').html();



        $('.fixed-plugin a').click(function(event) {
          if ($(this).hasClass('switch-trigger')) {
            if (event.stopPropagation) {
              event.stopPropagation();
            } else if (window.event) {
              window.event.cancelBubble = true;
            }
          }
        });

        $('.fixed-plugin .background-color span').click(function() {
          $(this).siblings().removeClass('active');
          $(this).addClass('active');

          var new_color = $(this).data('color');

          if ($sidebar.length != 0) {
            $sidebar.attr('data', new_color);
          }

          if ($main_panel.length != 0) {
            $main_panel.attr('data', new_color);
          }

          if ($full_page.length != 0) {
            $full_page.attr('filter-color', new_color);
          }

          if ($sidebar_responsive.length != 0) {
            $sidebar_responsive.attr('data', new_color);
          }
        });

        $('.switch-sidebar-mini input').on("switchChange.bootstrapSwitch", function() {
          var $btn = $(this);

          if (sidebar_mini_active == true) {
            $('body').removeClass('sidebar-mini');
            sidebar_mini_active = false;
            blackDashboard.showSidebarMessage('Sidebar mini deactivated...');
          } else {
            $('body').addClass('sidebar-mini');
            sidebar_mini_active = true;
            blackDashboard.showSidebarMessage('Sidebar mini activated...');
          }

          // we simulate the window Resize so the charts will get updated in realtime.
          var simulateWindowResize = setInterval(function() {
            window.dispatchEvent(new Event('resize'));
          }, 180);

          // we stop the simulation of Window Resize after the animations are completed
          setTimeout(function() {
            clearInterval(simulateWindowResize);
          }, 1000);
        });

        $('.switch-change-color input').on("switchChange.bootstrapSwitch", function() {
          var $btn = $(this);

          if (white_color == true) {

            $('body').addClass('change-background');
            setTimeout(function() {
              $('body').removeClass('change-background');
              $('body').removeClass('white-content');
            }, 900);
            white_color = false;
          } else {

            $('body').addClass('change-background');
            setTimeout(function() {
              $('body').removeClass('change-background');
              $('body').addClass('white-content');
            }, 900);

            white_color = true;
          }


        });

        $('.light-badge').click(function() {
          $('body').addClass('white-content');
        });

        $('.dark-badge').click(function() {
          $('body').removeClass('white-content');
        });
      });
    });
  </script>
<script>
  linechartoptions = {
      maintainAspectRatio: false,
      legend: {
        display: true,
        position:'top',
        labels:{
          fontColor: '#ffffff'
        }
      },

      tooltips: {
        backgroundColor: '#f5f5f5',
        titleFontColor: '#333',
        bodyFontColor: '#666',
        bodySpacing: 4,
        xPadding: 12,
        mode: "nearest",
        intersect: 0,
        position: "nearest"
      },
      responsive: true,
      scales: {
        yAxes: [{
          barPercentage: 1.6,
          gridLines: {
            drawBorder: false,
            color: 'rgba(29,140,248,0.0)',
            zeroLineColor: "transparent",
          },
          ticks: {
            suggestedMin: 60,
            suggestedMax: 125,
            padding: 20,
            fontColor: "#9a9a9a"
          }
        }],

        xAxes: [{
          barPercentage: 1.6,
          gridLines: {
            drawBorder: false,
            color: 'rgba(225,78,202,0.1)',
            zeroLineColor: "transparent",
          },
          ticks: {
            padding: 20,
            fontColor: "#9a9a9a"
          }
        }]
      }
    };
    linewithoutlegend = {
      maintainAspectRatio: false,
      legend: {
        display: false,
        position:'top',
        labels:{
          fontColor: '#ffffff'
        }
      },

      tooltips: {
        backgroundColor: '#f5f5f5',
        titleFontColor: '#333',
        bodyFontColor: '#666',
        bodySpacing: 4,
        xPadding: 12,
        mode: "nearest",
        intersect: 0,
        position: "nearest"
      },
      responsive: true,
      scales: {
        yAxes: [{
          barPercentage: 1.6,
          gridLines: {
            drawBorder: false,
            color: 'rgba(29,140,248,0.0)',
            zeroLineColor: "transparent",
          },
          ticks: {
            suggestedMin: 60,
            suggestedMax: 125,
            padding: 20,
            fontColor: "#9a9a9a"
          }
        }],

        xAxes: [{
          barPercentage: 1.6,
          gridLines: {
            drawBorder: false,
            color: 'rgba(225,78,202,0.1)',
            zeroLineColor: "transparent",
          },
          ticks: {
            padding: 20,
            fontColor: "#9a9a9a"
          }
        }]
      }
    };
gradientBarChartConfiguration = {
      maintainAspectRatio: false,
      legend: {
        display: false
      },

      tooltips: {
        backgroundColor: '#f5f5f5',
        titleFontColor: '#333',
        bodyFontColor: '#666',
        bodySpacing: 4,
        xPadding: 12,
        mode: "nearest",
        intersect: 0,
        position: "nearest"
      },
      responsive: true,
      scales: {
        yAxes: [{

          gridLines: {
            drawBorder: false,
            color: 'rgba(29,140,248,0.1)',
            zeroLineColor: "transparent",
          },
          ticks: {
            suggestedMin: 60,
            suggestedMax: 120,
            padding: 20,
            fontColor: "#9e9e9e"
          }
        }],

        xAxes: [{

          gridLines: {
            drawBorder: false,
            color: 'rgba(29,140,248,0.1)',
            zeroLineColor: "transparent",
          },
          ticks: {
            padding: 20,
            fontColor: "#9e9e9e"
          }
        }]
      }
    };


var data ={{data | safe}};

//first line chart polarity_line
let bar_pol = document.getElementById('india').getContext("2d");
var gradientStroke = bar_pol.createLinearGradient(0, 230, 0, 50);
gradientStroke.addColorStop(1, 'rgba(29,140,248,0.2)');
gradientStroke.addColorStop(0.4, 'rgba(29,140,248,0.0)');
gradientStroke.addColorStop(0, 'rgba(29,140,248,0)'); //blue colors


var labels = ['Confirmed', 'Recovered', 'Deaths', 'Active'];
var smlabels = ['confirmed', 'recovered', 'deaths', 'active'];
var total = data['total'];
var bar_pol_chart = new Chart(bar_pol, {
      type: 'bar',
      responsive: true,
      legend: {
        display: false
      },
      data: {
        labels: labels,
        datasets: [{
          label: "",
          fill: true,
          backgroundColor: gradientStroke,
          hoverBackgroundColor: gradientStroke,
          borderColor: '#1f8ef1',
          borderWidth: 2,
          borderDash: [],
          borderDashOffset: 0.0,
          data: [total[smlabels[0]],total[smlabels[1]],total[smlabels[2]],total[smlabels[3]]],
        }]
      },
      options: gradientBarChartConfiguration
    });
let states = document.getElementById('states').getContext("2d");
var total = data['total'];
statedict = {
"Maharashtra":0,
"Tamil Nadu":1,
"Delhi":2,
"Gujarat":3,
"Karnataka":4,
"Uttar Pradesh":5,
"Telangana":6,
"Andhra Pradesh":7,
"West Bengal":8,
"Rajasthan":9,
"Haryana":10,
"Bihar":11,
"Madhya Pradesh":12,
"Assam":13,
"Odisha":14,
"Jammu and Kashmir":15,
"Punjab":16,
"Kerala":17,
"Chhattisgarh":18,
"Jharkhand":19,
"Uttarakhand":20,
"Goa":21,
"Daman and Diu":30,
"Tripura":23,
"Manipur":24,
"Puducherry":25,
"Himachal Pradesh":26,
"Ladakh":27,
"Nagaland":28,
"Chandigarh":29,
"Dadra and Nagar Haveli":30,
"Arunachal Pradesh":31,
"Meghalaya":32,
"Mizoram":33,
"Andaman and Nicobar Islands":34,
"Sikkim":35,
"Lakshadweep":36
}
var curstate = 'Gujarat';
var statedata = data['statewise'];

function statechanged(){
var x = document.getElementById("state").selectedIndex;
var y = document.getElementById("state").options;
var curstate = y[x].text;
console.log(y[x].text);
var stateindex = statedict[curstate];
console.log(stateindex);
var xyz = data['statewise'];
var nowstate = xyz[stateindex];
console.log(nowstate);
var newdata=[nowstate[smlabels[0]],nowstate[smlabels[1]],nowstate[smlabels[2]],nowstate[smlabels[3]]];
console.log(newdata);
addData(bar_pol_chart, newdata);
}

var xyz = data['statewise'];
var stateindex = statedict[curstate]
var nowstate = xyz[stateindex];
function addData(chart, data){
    chart.data.datasets.forEach((dataset) => {
    for(var i=0;i<4;i++){
        dataset.data.pop();
        }
    for(var i=0;i<4;i++){
        dataset.data.push(data[i]);
        }

    });
    chart.update();
}
var bar_pol_chart = new Chart(states, {
      type: 'bar',
      responsive: true,
      legend: {
        display: false
      },
      data: {
        labels: labels,
        datasets: [{
          label: "",
          fill: true,
          backgroundColor: gradientStroke,
          hoverBackgroundColor: gradientStroke,
          borderColor: '#1f8ef1',
          borderWidth: 2,
          borderDash: [],
          borderDashOffset: 0.0,
          data: [nowstate[smlabels[0]],nowstate[smlabels[1]],nowstate[smlabels[2]],nowstate[smlabels[3]]],
        }]
      },
      options: gradientBarChartConfiguration
    });

</script>
</body>
</html>