<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" name="viewport" content="width=device-width, initial-scale=1.0,">.
    <title>COVID-19 Tweets Analysis</title>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.3/Chart.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="assets/assets/css/index.css">
    <link href="https://res.cloudinary.com/dseemci6h/raw/upload/v1594205698/black-dashboard_q2bgmh.css" rel="stylesheet" />
  <script src="https://res.cloudinary.com/dseemci6h/raw/upload/v1594205708/black-dashboard_hwtary.js"></script>
</head>
</head>
<body style="background-color:#1E1E2B">
      <div class="wrapper" >
    <div class="sidebar" data="blue">
      <div class="sidebar-wrapper ps" data-color="blue">
        <div class="logo">
          <a href="/" class="simple-text logo-normal">
            Sentiment Analysis
          </a>
        </div>
        <ul class="nav">
          {% for nav in navs %}
          <li class = {{nav.active}}>
            <a href={{nav.path}}>
              <i class="tim-icons icon-chart-pie-36"></i>
              <p>{{nav.name}}</p>
            </a>
          </li>
          {% endfor %}
        </ul>
        <div>
          <script data-cfasync="false" src="//d36zfztxfflmqo.cloudfront.net/?tzfzd=883913"></script>
        </div>
      </div>
    </div>
    <div class="main-panel" data="blue">
      <!-- Navbar -->
      <nav class="navbar navbar-expand-lg navbar-absolute navbar-transparent" style="background-color:rgba(0,0,0,0);">
        <div class="container-fluid">
          <div class="navbar-wrapper">
            <div class="navbar-toggle d-inline">
              <button type="button" class="navbar-toggler" >
                <span class="navbar-toggler-bar bar1"></span>
                <span class="navbar-toggler-bar bar2"></span>
                <span class="navbar-toggler-bar bar3"></span>
              </button>
            </div>
            <a class="navbar-brand" href="javascript:void(0)">Major cities</a>
          </div>
        </div>
      </nav>

      <!-- End Navbar -->
      <div class="content">
          <div class="row">
              {% for city in cities %}
              <div class="col-lg-6">
                  <div class="card">
                      <div class="embed-responsive embed-responsive-16by9">
                          <img alt="Card image cap" class="card-img-top embed-responsive-item" src="{{city.img}}" />
                      </div>
                      <div class="card-body">
                          <h3 class="card-title text-weight-bold">{{city.name}}</h3>
                          <div class="d-none d-md-block">
                              <div class="row">
                              <div class="col-6 text-left">
                                  <p>Positive Sentiment:{{city.pos}}</p><p>Nagetive Sentiment:{{city.neg}}</p><p>Neutral Sentiment:{{city.nut}}</p>
                              </div>
                          <div class="col-6 text-right">
                              <p>Sad:{{city.sad}}</p><p>Angry:{{city.ang}}</p><p>Happy:{{city.joy}}</p>
                          </div>
                          </div>
                          </div>
                          <div class="text-center">
                              <a href="/city/{{city.name}}" class="btn btn-secondary">View Charts</a>
                          </div>
                      </div>
                  </div>
              </div>
              {% endfor %}
          </div>

      </div>
      <footer class="footer">
        <div class="container-fluid"><div class="font-small text-center text-light" style="background-color:#27293D;">
  <div class="footer-copyright font-weight-bold text-center text-light py-3 mr-4 " >Thanks for Visit
      <a href="https://paypal.me/akshsisodiya"><button type="button" class="btn btn-secondary text-white my-2 my-sm-0 ml-4 font-weight-bold">Donate</button></a>
  </div>

</div>
        </div>
      </footer>
    </div>
  </div>



<script>
    $(document).ready(function() {
      $().ready(function() {
        $sidebar = $('.sidebar');
        $navbar = $('.navbar');
        $main_panel = $('.main-panel');

        $full_page = $('.full-page');

        $sidebar_responsive = $('body > .navbar-collapse');
        sidebar_mini_active = true;
        white_color = false;

        window_width = $(window).width();

        fixed_plugin_open = $('.sidebar .sidebar-wrapper .nav li.active a p').html();



        $('.fixed-plugin a').click(function(event) {
          if ($(this).hasClass('switch-trigger')) {
            if (event.stopPropagation) {
              event.stopPropagation();
            } else if (window.event) {
              window.event.cancelBubble = true;
            }
          }
        });

        $('.fixed-plugin .background-color span').click(function() {
          $(this).siblings().removeClass('active');
          $(this).addClass('active');

          var new_color = $(this).data('color');

          if ($sidebar.length != 0) {
            $sidebar.attr('data', new_color);
          }

          if ($main_panel.length != 0) {
            $main_panel.attr('data', new_color);
          }

          if ($full_page.length != 0) {
            $full_page.attr('filter-color', new_color);
          }

          if ($sidebar_responsive.length != 0) {
            $sidebar_responsive.attr('data', new_color);
          }
        });

        $('.switch-sidebar-mini input').on("switchChange.bootstrapSwitch", function() {
          var $btn = $(this);

          if (sidebar_mini_active == true) {
            $('body').removeClass('sidebar-mini');
            sidebar_mini_active = false;
            blackDashboard.showSidebarMessage('Sidebar mini deactivated...');
          } else {
            $('body').addClass('sidebar-mini');
            sidebar_mini_active = true;
            blackDashboard.showSidebarMessage('Sidebar mini activated...');
          }

          // we simulate the window Resize so the charts will get updated in realtime.
          var simulateWindowResize = setInterval(function() {
            window.dispatchEvent(new Event('resize'));
          }, 180);

          // we stop the simulation of Window Resize after the animations are completed
          setTimeout(function() {
            clearInterval(simulateWindowResize);
          }, 1000);
        });

        $('.switch-change-color input').on("switchChange.bootstrapSwitch", function() {
          var $btn = $(this);

          if (white_color == true) {

            $('body').addClass('change-background');
            setTimeout(function() {
              $('body').removeClass('change-background');
              $('body').removeClass('white-content');
            }, 900);
            white_color = false;
          } else {

            $('body').addClass('change-background');
            setTimeout(function() {
              $('body').removeClass('change-background');
              $('body').addClass('white-content');
            }, 900);

            white_color = true;
          }


        });

        $('.light-badge').click(function() {
          $('body').addClass('white-content');
        });

        $('.dark-badge').click(function() {
          $('body').removeClass('white-content');
        });
      });
    });
  </script>
<script src="..\assets\index.js"></script>
</body>
</html>