<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" name="viewport" content="width=device-width, initial-scale=1.0">
    <title>COVID-19 Tweets Analysis</title>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.3/Chart.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
      <link href="https://use.fontawesome.com/releases/v5.0.6/css/all.css" rel="stylesheet">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>
  <link src="https://res.cloudinary.com/dseemci6h/raw/upload/v1594205697/nucleo-icons_n79lny.css">
  <link href="https://github.com/akshsisodiya/pythonanywhere/blob/master/sentimentanalysis/static/assets/css/black-dashboard.css" rel="stylesheet" />
  <link href="https://res.cloudinary.com/dseemci6h/raw/upload/v1594205698/black-dashboard_q2bgmh.css" rel="stylesheet" />
  <script src="https://res.cloudinary.com/dseemci6h/raw/upload/v1594205708/black-dashboard_hwtary.js"></script>

</head>
<body style="background-color:#1E1E2B">
<div class="wrapper" >
    <div class="sidebar" data="blue">
      <!--
        Tip 1: You can change the color of the sidebar using: data-color="blue | green | orange | red"
    -->
      <div class="sidebar-wrapper ps" data-color="blue">
        <div class="logo">
          <a href="javascript:void(0)" class="simple-text logo-normal">
            Sentiment Analysis
          </a>
        </div>
        <ul class="nav">
          <li >
            <a href="/">
              <i class="tim-icons icon-chart-pie-36"></i>
              <p>All Over Data</p>
            </a>
          </li>
          <li>
            <a href="/major_cities">
              <i class="tim-icons icon-atom"></i>
              <p>Major Cities</p>
            </a>
          </li>
          <li class="active ">
            <a href="/about-us">
              <i class="tim-icons icon-pin"></i>
              <p>About Us</p>
            </a>
          </li>
        </ul>
      </div>
    </div>
    <div class="main-panel" data="blue">
      <!-- Navbar -->
      <nav class="navbar navbar-expand-lg navbar-absolute navbar-transparent" style="background-color:rgba(0,0,0,0);">
        <div class="container-fluid">
          <div class="navbar-wrapper">
            <div class="navbar-toggle d-inline">
              <button type="button" class="navbar-toggler" >
                <span class="navbar-toggler-bar bar1"></span>
                <span class="navbar-toggler-bar bar2"></span>
                <span class="navbar-toggler-bar bar3"></span>
              </button>
            </div>
            <a class="navbar-brand" href="javascript:void(0)">Sentiment Analysis</a>
          </div>
        </div>
      </nav>

      <!-- End Navbar -->
      <div class="content">
        <div class="row">
            <div class= 'col-lg-6'>
                <div class="card card-user">
                  <div class="card-body">
                    <p class="card-text">
                      </p><div class="author">
                        <div class="block block-one"></div>
                        <div class="block block-two"></div>
                        <div class="block block-three"></div>
                        <div class="block block-four"></div>
                        <a href="javascript:void(0)">
                          <img class="avatar" src="https://res.cloudinary.com/dseemci6h/image/upload/v1594205699/antriksh_ql0uz1.jpg" alt="...">
                          <p class="description">
                            Antriksh Sisodiya
                          </p>

                        </a>
                        <h5 class="title">Full Stack Development</h5>
                      </div>
                    <p></p>
                    <div class="card-description text-center"  >
                      Life is like riding a bicycle. To keep your balance, you must keep moving.
                    </div>
                  </div>
                  <div class="card-footer">
                    <div class="button-container">
                      <a href = "https://www.facebook.com/profile.php?id=100007127985395">
                      <button href="javascript:void(0)" class="btn btn-icon btn-round btn-facebook">
                        <i class="fab fa-facebook"></i>
                      </button>
                      </a>
                      <a href = 'https://www.instagram.com/aksh_sisodiya'>
                      <button href="javascript:void(0)" class="btn btn-icon btn-round btn-instagram">
                        <i class="fab fa-instagram"></i>
                      </button>
                      </a>
                      <a href ="https://twitter.com/aksh_sisodiya">
                      <button href="javascript:void(0)" class="btn btn-icon btn-round btn-twitter">
                        <i class="fab fa-twitter"></i>
                      </button>
                      </a>
                    </div>
                  </div>
                </div>
              </div>
              <div class= "col-lg-6">
                <div class="card card-user">
                  <div class="card-body">
                    <p class="card-text">
                      </p><div class="author">
                        <div class="block block-one"></div>
                        <div class="block block-two"></div>
                        <div class="block block-three"></div>
                        <div class="block block-four"></div>
                        <a href="javascript:void(0)">
                          <img class="avatar" src="https://res.cloudinary.com/dseemci6h/image/upload/v1594205699/aman_qemi1i.jpg" alt="...">
                          <p class="description">
                            Aman Borse
                          </p>

                        </a>
                        <h5 class="title">Developer</h5>
                      </div>
                    <p></p>
                    <div class="card-description text-center">
                      The easy road always ends up back in the same place that you started.
                    </div>
                  </div>
                  <div class="card-footer">
                    <div class="button-container">
                      <a href = "">
                        <button href="javascript:void(0)" class="btn btn-icon btn-round btn-facebook">
                          <i class="fab fa-facebook"></i>
                        </button>
                      </a>
                      <a href = 'https://instagram.com/aman_162000'>
                        <button href="javascript:void(0)" class="btn btn-icon btn-round btn-instagram">
                          <i class="fab fa-instagram"></i>
                        </button>
                        </a>
                      <a href = "https://twitter.com/aman_162000">
                      <button href="javascript:void(0)" class="btn btn-icon btn-round btn-twitter">
                        <i class="fab fa-twitter"></i>
                      </button>
                      </a>
                    </div>
                  </div>
                </div>
              </div>
              <div class= "col-lg-6">
                <div class="card card-user">
                  <div class="card-body">
                    <p class="card-text">
                      </p><div class="author">
                        <div class="block block-one"></div>
                        <div class="block block-two"></div>
                        <div class="block block-three"></div>
                        <div class="block block-four"></div>
                        <a href="javascript:void(0)">
                          <img class="avatar" src="https://res.cloudinary.com/dseemci6h/image/upload/v1594205708/tejas_ccfqbv.jpg" alt="...">
                          <p class="description">
                            Tejas Bagthaliya
                          </p>

                        </a>
                        <h5 class="title">Data Analysis & Front end</h5>
                      </div>
                    <p></p>
                    <div class="card-description text-center">
                      The biggest failure in life is when we quit without knowing how close we were to the finish.
                    </div>
                  </div>
                  <div class="card-footer">
                    <div class="button-container">
                      <a href = "https://www.facebook.com/tejas.m.bagthaliya">
                        <button href="javascript:void(0)" class="btn btn-icon btn-round btn-facebook">
                          <i class="fab fa-facebook"></i>
                        </button>
                      </a>
                      <a href = 'https://www.instagram.com/tbagthaliyaa'>
                        <button href="javascript:void(0)" class="btn btn-icon btn-round btn-instagram">
                          <i class="fab fa-instagram"></i>
                        </button>
                        </a>
                      <a href = "https://twitter.com/TBagthaliya">
                        <button href="javascript:void(0)" class="btn btn-icon btn-round btn-twitter">
                          <i class="fab fa-twitter"></i>
                        </button>
                        </a>
                    </div>
                  </div>
                </div>
              </div>
              <div class= 'col-lg-6'>
                <div class="card card-user">
                  <div class="card-body">
                    <p class="card-text">
                      </p><div class="author">
                        <div class="block block-one"></div>
                        <div class="block block-two"></div>
                        <div class="block block-three"></div>
                        <div class="block block-four"></div>
                        <a href="javascript:void(0)">
                          <img class="avatar" src="https://res.cloudinary.com/dseemci6h/image/upload/v1594205707/Kunal_s1l0ib.jpg" alt="...">
                          <p class="description">
                            Kunal Sinha
                          </p>
                        </a>

                        <h5 class="title">Co-Developer</h5>
                      </div>
                    <p></p>
                    <div class="card-description text-center">
                      The road of life twists and turns and no two directions are ever the same. Yet our lessons come from the journey, not the destination.
                    </div>
                  </div>
                  <div class="card-footer">
                    <div class="button-container">
                      <a href = "https://www.facebook.com/people/Kunal-Sinha/100004686647601">
                        <button href="javascript:void(0)" class="btn btn-icon btn-round btn-facebook">
                          <i class="fab fa-facebook"></i>
                        </button>
                      </a>
                      <a href = 'https://www.instagram.com/kunal04sinha'>
                        <button href="javascript:void(0)" class="btn btn-icon btn-round btn-instagram">
                          <i class="fab fa-instagram"></i>
                        </button>
                        </a>
                      <a href = "https://twitter.com/kunal04sinha">
                        <button href="javascript:void(0)" class="btn btn-icon btn-round btn-twitter">
                          <i class="fab fa-twitter"></i>
                        </button>
                        </a>
                    </div>
                  </div>
                </div>

            </div>


          </div>
      </div>
      <footer class="footer">
        <div class="container-fluid"><div class="font-small text-center text-light" style="background-color:#27293D;">
  <div class="footer-copyright font-weight-bold text-center text-light py-3 mr-4 " >Thanks for Visit
      <a href="https://paypal.me/akshsisodiya"><button type="button" class="btn btn-secondary text-white my-2 my-sm-0 ml-4 font-weight-bold">Donate</button></a>
  </div>

</div>
        </div>
      </footer>
    </div>
  </div>
<script>
    $(document).ready(function() {
      $().ready(function() {
        $sidebar = $('.sidebar');
        $navbar = $('.navbar');
        $main_panel = $('.main-panel');

        $full_page = $('.full-page');

        $sidebar_responsive = $('body > .navbar-collapse');
        sidebar_mini_active = true;
        white_color = false;

        window_width = $(window).width();

        fixed_plugin_open = $('.sidebar .sidebar-wrapper .nav li.active a p').html();



        $('.fixed-plugin a').click(function(event) {
          if ($(this).hasClass('switch-trigger')) {
            if (event.stopPropagation) {
              event.stopPropagation();
            } else if (window.event) {
              window.event.cancelBubble = true;
            }
          }
        });

        $('.fixed-plugin .background-color span').click(function() {
          $(this).siblings().removeClass('active');
          $(this).addClass('active');

          var new_color = $(this).data('color');

          if ($sidebar.length != 0) {
            $sidebar.attr('data', new_color);
          }

          if ($main_panel.length != 0) {
            $main_panel.attr('data', new_color);
          }

          if ($full_page.length != 0) {
            $full_page.attr('filter-color', new_color);
          }

          if ($sidebar_responsive.length != 0) {
            $sidebar_responsive.attr('data', new_color);
          }
        });

        $('.switch-sidebar-mini input').on("switchChange.bootstrapSwitch", function() {
          var $btn = $(this);

          if (sidebar_mini_active == true) {
            $('body').removeClass('sidebar-mini');
            sidebar_mini_active = false;
            blackDashboard.showSidebarMessage('Sidebar mini deactivated...');
          } else {
            $('body').addClass('sidebar-mini');
            sidebar_mini_active = true;
            blackDashboard.showSidebarMessage('Sidebar mini activated...');
          }

          // we simulate the window Resize so the charts will get updated in realtime.
          var simulateWindowResize = setInterval(function() {
            window.dispatchEvent(new Event('resize'));
          }, 180);

          // we stop the simulation of Window Resize after the animations are completed
          setTimeout(function() {
            clearInterval(simulateWindowResize);
          }, 1000);
        });

        $('.switch-change-color input').on("switchChange.bootstrapSwitch", function() {
          var $btn = $(this);

          if (white_color == true) {

            $('body').addClass('change-background');
            setTimeout(function() {
              $('body').removeClass('change-background');
              $('body').removeClass('white-content');
            }, 900);
            white_color = false;
          } else {

            $('body').addClass('change-background');
            setTimeout(function() {
              $('body').removeClass('change-background');
              $('body').addClass('white-content');
            }, 900);

            white_color = true;
          }


        });

        $('.light-badge').click(function() {
          $('body').addClass('white-content');
        });

        $('.dark-badge').click(function() {
          $('body').removeClass('white-content');
        });
      });
    });
  </script>
</body>
</html>